{% extends "base.html" %}

{% comment %} 
  extends 코드는 무슨 일이 있어도 항상 최상단에 작성해야한다.
  -> 주석도 안되기 때문에 무조건 그냥 1번째줄에 extends 쓰도록 한다.
{% endcomment %}

{% block content %}
  <h1>MAIN PAGE</h1>
  <ul>
    {% comment %} 
      DTL -> 사용자에게 HTML을 `잘 표현` 하기 위해 만들어졌다.
      DTL로 알고리즘 푸는데 하지마세요
      그래서 연산자가 + 밖에 없다.
    {% endcomment %}
    {% for todo in todo_list %}
      <li>{{ todo }}</li>
    {% empty %}
      <li>아직 할 일이 없습니다.</li>
    {% endfor %}
    {% comment %} {% if not work %} {% endcomment %}
    {% comment %} {% if work == None %}
      <li>아직 할 일이 없습니다.</li>
    {% else %}
      <li>{{ work }}</li>
    {% endif %} {% endcomment %}
  </ul>
{% endblock content %}