{% extends 'base.html' %}

{% block content %}
  <h1>책 상세 정보</h1>
  <p>등록 번호 : {{ book.pk }}</p>
  <p>제목 : {{ book.title }}</p>
  <p>설명 : {{ book.description }}</p>
  <hr>
  
  <h2>리뷰 등록</h2>
  {% if request.user.is_authenticated %}
    <form action="{% url 'libraries:create_reviews' book.pk %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="리뷰작성">
    </form>
  {% else %}
    <p>로그인 후 작성해주세요.</p>
  {% endif %}
  <hr>

  <h2>리뷰 전체 목록</h2>
  <ul>
    {% for review in reviews %}
        <li>{{ review.user.last_name }} {{ review.user.first_name }}: {{ review.content }}</li>
        <form action="{% url 'libraries:delete_reviews' review.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="리뷰 삭제">
        </form>
    {% endfor %}
  </ul>  
{% endblock content %}